/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Estilos para el artículo */
article {
  background: #202020;
  color: #fff;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 60mm;
  height: 30mm;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  border: 2px solid #fff;
  margin-bottom: 10px;
}

/* Estilos para la imagen */
article img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

/* Estilos para los encabezados */
article h1,
article h2,
article h3 {
  margin: 10px 0;
}

/* Div principal */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  background-color: slategray;
}
